{# Uploaded image modal removal #}
<div id="st-modal-delete-image" class="uk-flex-top" uk-modal="esc-close: false; bg-close: false">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <h3 class="uk-modal-title uk-text-lead uk-text-center uk-text-bold uk-text-uppercase st-color-black">Please confirm image removal</h3>
        {{ form_start(deleteImageForm, {'attr': {'id': 'st-delete-image-form', 'data-error': 'Sorry, a technical error happened!\nYour image was not deleted.'}}) }}
            {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
            {# Saved image entity uuid (directly passed to view or retrieved thanks to image to crop form view vars )#}
            <div id="st-delete-image-uuid">
                {# Hidden field used to store image entity uuid: this value is retrievevd with JavaScript! #}
                {{ form_row(deleteImageForm.uuid, {
                    'attr': {'class': 'st-delete-image-uuid'}
                    })
                }}
            </div>
            {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
            {# Saved image name (directly passed to view or same as image to crop valid savedImageName) #}
            <div id="st-delete-image-name">
                {# Hidden field used to store image entity saved name: this value is retrievevd with JavaScript! #}
                {{ form_row(deleteImageForm.name, {
                    'attr': {'class': 'st-delete-image-name'}
                    })
                }}
            </div>
            {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
            {# Media owner type to know where remove image physically #}
            <div id="st-delete-image-type">
                {# Hidden field used to store image entity media owner type: this value is retrievevd with JavaScript! #}
                {{ form_row(deleteImageForm.mediaOwnerType, {
                    'attr': {'class': 'st-delete-image-type'}
                    })
                }}
            </div>
            {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
            {# CSRF token #}
            {{ form_row(deleteImageForm.token, {'value': csrf_token('ajax_delete_image_token')}) }}
            {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
            <div class="uk-flex uk-flex-center uk-margin-top">
                <button id="st-cancel-delete-image-button" type="button" tabindex="-1"
                        class="uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium uk-margin-small-right uk-text-bold uk-modal-close st-cancel-delete-image-button st-svg-icon-button-default st-svg-icon-cancel" title="Cancel">
                    Cancel <span uk-icon="icon: close; ratio: 1"></span>
                </button>
                <button id="st-confirm-delete-image-button" type="submit" tabindex="-1"
                        class="uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium uk-text-bold st-confirm-delete-image-button st-svg-icon-button-default st-svg-icon-delete" title="Validate">
                    <span class="st-delete-spinner st-color-yellow uk-hidden" uk-spinner="ratio: 0.8"></span>
                    Delete <span uk-icon="icon: trash; ratio: 1"></span>
                </button>
            </div>
        {{ form_end(deleteImageForm) }}
        {# This removal can be part of trick creation or update form actions, or used directly on trick single page #}
        <p class="uk-margin-small-top"><small>{{ removalText }}</small></p>
    </div>
</div>
