{# rootForm var is provided by form template which calls this template #}
{% set rootFormName = rootForm.vars.name %}
{# Get video media owner type #}
{% set videoOwnerType = mediaOwnerType %}
{# Get form view for an existing image which exists, or (partially/completely) filled in, furthermore validated or not #}
{% set videoInfosForm = editableVideoInfosForm %}
{# Get existing index value for editable video box, provided by form template which calls this template #}
{% set videoIndex = editableVideoIndexName %}
<div id="st-video-infos-wrapper-{{ videoIndex }}" class="st-video-infos-wrapper">
    <div id="{{ rootFormName }}_videos_{{ videoIndex }}" class="uk-position-relative uk-border-rounded uk-padding-small uk-margin-small-bottom st-video-infos st-background-blue st-box-shadow-full-small">
        {# Saved (already saved) video block removal: look at AbstractTrickType::finishView() #}
        {# Prepare vars for video removal modal by testing a valid existing saved video #}
        {% set isVideoAlreadyAEntity = videoInfosForm.vars.videoUuid is defined %}
        {# Synchronize also "allow_delete" option #}
        {% set allowDeleteConfig = rootForm.videos.vars.allow_delete %}
        {% if isVideoAlreadyAEntity and allowDeleteConfig == 0 %}
            {% set removeVideoLink = 'id="st-video-remove-button-'~videoIndex~'" href="#st-modal-delete-video"' %}
            {% set actionTitle = isVideoAlreadyAEntity ? 'Delete' : 'Cancel' %}
            {% set removalIcon = 'trash' %}
            {% set videoDataAttributes = 'data-uuid="'~videoInfosForm.vars.videoUuid~'" data-name="'~videoInfosForm.savedVideoName.vars.value~'" data-type="'~videoOwnerType~'"' %}
        {% else %}
            {% set removeVideoLink = 'href="#"' %}
            {% set actionTitle = isVideoAlreadyAEntity ? 'Delete' : 'Cancel' %}
            {% set removalIcon = isVideoAlreadyAEntity ? 'trash' : 'close' %}
            {% set videoDataAttributes = '' %}
        {% endif %}
        {# These vars are checked to be safe with condition above! #}
        {# TODO: this link is deactivated: need to complete video deletion process to make this link functional! #}
        <a {{ removeVideoLink|raw }} title="{{ actionTitle }}" {{ videoDataAttributes|raw }}
                                     class="uk-position-top-right uk-button uk-box-shadow-medium uk-box-shadow-hover-large uk-padding-remove uk-margin-small-top uk-margin-small-right st-video-remove-button" uk-toggle>
            <span uk-icon="icon: {{ removalIcon }}; ratio: 1" class="uk-icon st-color-white st-background-black st-svg-icon-button st-svg-icon-delete st-svg-icon-actions"></span>
        </a>
        {# ----------------------------------------------------------------------------------------------------------------------------------------------------------------#}
        {# Video block sortable #}
        <a href="#" class="uk-position-bottom-right uk-sortable-handle uk-button uk-box-shadow-medium uk-box-shadow-hover-large uk-padding-remove uk-margin-small-bottom uk-margin-small-right" title="Sort vertically">
            <span uk-icon="icon: list; ratio: 1" class="uk-icon st-color-white st-background-black st-svg-icon-button st-svg-icon-actions"></span>
        </a>
        {# form label for videoInfos form entry type #}
        {{ form_label(videoInfosForm, 'Video N° '~rank, {
            'label_attr': {
                'class': 'uk-form-label uk-text-uppercase st-video-infos-label',
                'data-video-index-name': videoIndex
            }
        }) }}
        {# Video fields #}
        <div class="uk-grid uk-grid-collapse uk-margin-medium-bottom">
            <div class="uk-width-1-1 uk-margin-small-bottom">
                {% if (videoInfosForm.url.vars.valid == 0) %}
                    {{ form_errors(videoInfosForm.url) }}
                {% endif %}
                {% if (videoInfosForm.savedVideoName.vars.valid == 0) %}
                    {{ form_errors(videoInfosForm.savedVideoName) }}
                {% endif %}
                {% if (videoInfosForm.showListRank.vars.valid == 0) %}
                    {{ form_errors(videoInfosForm.showListRank) }}
                {% endif %}
                {# Video URL #}
                {{ form_label(videoInfosForm.url, 'Video URL (iframe "src" attribute)', {'label_attr': {'class': 'uk-form-label'}}) }}
                <div class="uk-inline uk-position-relative uk-flex">
                    <span class="uk-form-icon st-textarea-icon" uk-icon="icon: link"></span>
                    {{ form_widget(videoInfosForm.url, {
                        'attr': {'class': 'uk-textarea', 'rows': 2},
                        'value': videoInfosForm.url.vars.value})
                    }}
                    {# Video URL input icon errors #}
                    {% if videoInfosForm.url.vars.errors.form.submitted == 1 %}
                        {% set class = videoInfosForm.url.vars.valid == 0 ? 'uk-form-danger' : 'uk-form-success' %}
                        {% set icon = videoInfosForm.url.vars.valid == 0 ? 'warning' : 'check' %}
                        <span class="uk-form-icon uk-form-icon-flip {{ class }} st-textarea-icon" uk-icon="icon: {{ icon }}"></span>
                    {% endif %}
                </div>
            </div>
            {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
            {# Video description #}
            <div class="uk-width-1-1 uk-margin-small-top uk-margin-small-bottom">
                {% if videoInfosForm.description.vars.valid == 0 %}
                    {{ form_errors(videoInfosForm.description) }}
                {% endif %}
                {{ form_label(videoInfosForm.description, 'Video description (a kind of short title)', {'label_attr': {'class': 'uk-form-label'}}) }}
                <div class="uk-inline uk-flex">
                    <span class="uk-form-icon" uk-icon="icon: bookmark"></span>
                    {{ form_widget(videoInfosForm.description, {
                        'attr': {'class': 'uk-input'},
                        'value': videoInfosForm.description.vars.value})
                    }}
                    {# Video description input icon errors #}
                    {% if videoInfosForm.description.vars.errors.form.submitted == 1 %}
                        {% set class = videoInfosForm.description.vars.valid == 0 ? 'uk-form-danger' : 'uk-form-success' %}
                        {% set icon = videoInfosForm.description.vars.valid == 0 ? 'warning' : 'check' %}
                        <span class="uk-form-icon uk-form-icon-flip {{ class }}" uk-icon="icon: {{ icon }}"></span>
                    {% endif %}
                </div>
            </div>
            {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
            {# Saved video name (must correspond to a valid video) #}
            <div id="st-save-video-name-{{ videoIndex }}">
                {# Hidden field used to store saved video name during validation:
                    Please note this field is used to distinct videos for update process #}
                {{ form_row(videoInfosForm.savedVideoName, {
                    'attr': {'class': 'st-saved-video-name'},
                    'value': videoInfosForm.savedVideoName.vars.value})
                }}
            </div>
            {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
            {# Show list rank (sortable order) #}
            <div id="st-show-list-rank-{{ videoIndex }}">
                {# Please note this can be changed via JavaScript to update this and all other "video infos" boxes order when sortable/remove action is made! #}
                {{ form_row(videoInfosForm.showListRank, {
                    'attr': {'class': 'st-show-list-rank'},
                    'value': videoInfosForm.showListRank.vars.value})
                }}
            </div>
            {# ------------------------------------------------------------------------------------------------------------------------------------------------------ #}
        </div>
    </div>
</div>
