{% form_theme updateProfileAvatarForm 'form/uikit_3_form.html.twig' %}
{{ form_start(updateProfileAvatarForm, {
    'attr': {
        'id': 'st-ajax-avatar-update-form',
        'class': 'uk-grid uk-grid-collapse',
        'data-ajax-mode': avatarUploadAjaxMode ? '1' : '0',
        'data-avatar-upload-path': path('update_profile', {'mainRoleLabel': app.user.mainRoleLabel|lower}),
        'data-technical-error': 'Sorry, a technical error happened<br>during upload!<br>Please try again later.<br>',
        'novalidate': ''}
}) }}
    {# Avatar #}
    <div class="uk-width-1-1 uk-margin-small-bottom">
        {# Actual avatar #}
        <div id="st-current-avatar"{{ userAvatarImage is not null ? '' : ' class="uk-hidden"' }}">
        <div class="uk-inline uk-flex uk-flex-middle uk-flex-center">
            {% set defaultAvatarImageNamePath = globalImageDirectory~'profile-default-avatar.png' %}
            {% set defaultAvatarImageAlt = app.user.getNickName()~'\'s avatar' %}
            {% if userAvatarImage is not null %}
                {% set avatarImageNamePath = globalAvatarUploadDirectory~userAvatarImage.getName()~'.'~userAvatarImage.getFormat() %}
                {% set avatarImageAlt = userAvatarImage.getDescription() %}
            {% else %}
                {% set avatarImageNamePath = defaultAvatarImageNamePath %}
                {% set avatarImageAlt = defaultAvatarImageAlt %}
            {% endif %}
            <p class="uk-margin-remove uk-text-center">
                <span class="uk-display-block uk-margin-small-bottom"><small class="uk-text-uppercase">current avatar</small></span>
                <span class="uk-display-inline-block uk-box-shadow-small uk-border-circle uk-padding-small st-background-white">
                     <img id="st-saved-avatar" class="" width="60" src="{{ asset(avatarImageNamePath) }}" alt="{{ avatarImageAlt }}">
                </span>
                <span class="uk-display-block uk-margin-small-top st-color-yellow">{{ app.user.firstName~' '~app.user.familyName }}</span>
            </p>
        </div>
        <hr>
        </div>
        {% if updateProfileAvatarForm.avatar.vars.valid == 0 %}
            {{ form_errors(updateProfileAvatarForm.avatar) }}
        {% endif %}
        {{ form_label(updateProfileAvatarForm.avatar, 'Personalize your avatar', {'label_attr': {'class': 'uk-form-label'}}) }}
        {# --- Avatar reminder --- #}
        <div class="uk-inline">
            <a href="#" class="uk-button-link">
                <span class="st-color-yellow" uk-icon="icon: question; ratio: 1.25"></span>
            </a>
            <div uk-drop="mode: click; pos: top-center; animation: uk-animation-slide-top-small; duration: 500">
                <div class="uk-inline uk-position-relative uk-padding-small uk-border-rounded uk-box-shadow-medium st-background-yellow st-color-black">
                    <a href="#" class="uk-drop-close uk-position-absolute uk-padding-small">
                        <span class="st-color-blue" uk-icon="icon: close"></span>
                    </a>
                    <p class="uk-margin-remove uk-text-center st-line-height-normal">
                        <small class="uk-display-block uk-margin-small-top uk-margin-small-bottom uk-text-bold">
                            <span uk-icon="icon: info"></span> Avatar reminder<br>
                        </small>
                        <small>
                            Your avatar image is expected to be a file with any of these .jpg, .jpeg, .png, .gif formats.<br>
                            Its maximum size must be 100k (Kilobyte / ko).
                        </small>
                    </p>
                </div>
            </div>
        </div>
        {# --- end Avatar reminder --- #}
        {# Avatar preview #}
        <div class="uk-inline uk-flex uk-flex-middle uk-border-rounded uk-padding-small st-background-blue st-box-shadow-full-small">
            <div class="uk-flex-column uk-position-relative uk-box-shadow-small uk-border-rounded uk-padding-small uk-margin-small-right st-background-white">
                {# Avatar upload progress #}
                <div id="st-avatar-upload-progress" class="uk-position-center uk-border-circle uk-box-shadow-medium uk-text-center uk-hidden st-background-yellow st-avatar-upload-progress">
                    <small id="st-avatar-upload-loaded-percent" class="uk-text-bold st-color-blue st-avatar-upload-loaded-percent">0%</small>
                </div>
                {# Avatar image preview #}
                <img id="st-avatar-preview" class="st-avatar-preview" width="80" data-default-avatar-path="{{ asset(globalImageDirectory~'profile-default-avatar.png') }}" data-default-desc="{{ avatarImageAlt }}"
                     src="{{ asset(avatarImageNamePath) }}" alt="{{ avatarImageAlt }}">
            </div>
            <div id="st-avatar-action" class="uk-flex-column">
                {# Avatar selection #}
                <div id="st-change-avatar-container" data-change-text-info="Please confirm avatar change by updating profile!" uk-form-custom>
                    {# Avatar file input #}
                    {{ form_widget(updateProfileAvatarForm.avatar, {
                        'attr': {'class': 'uk-input st-file-input', 'data-error': 'Please select first<br>an image file for your avatar!'},
                        'value': updateProfileAvatarForm.avatar.vars.value})
                    }}
                    {# Avatar change button #}
                    <button class="uk-button uk-button-default st-fake-file-input-button" type="button" tabindex="-1">
                        <span class="uk-form-icon" uk-icon="icon: upload"></span>
                        <span id="st-avatar-change-button-label" class="uk-padding-small" data-select-label="Select" data-change-label="Change">
                            {{ userAvatarImage is not null ? 'Change' : 'Select' }}
                        </span>
                        {% if updateProfileAvatarForm.avatar.vars.errors.form.submitted == 1 %}
                            {% set class = updateProfileAvatarForm.avatar.vars.valid == 0 ? 'uk-form-danger' : 'uk-form-success' %}
                            {% set icon = updateProfileAvatarForm.avatar.vars.valid == 0 ? 'warning' : 'check' %}
                            <span class="uk-form-icon uk-form-icon-flip {{ class }}" uk-icon="icon: {{ icon }}"></span>
                        {% endif %}
                    </button>
                </div>
                {# Avatar crop modal: opened when avatar file input changes #}
                <div id="st-cropper-modal" class="uk-flex-top" uk-modal="esc-close: false; bg-close: false">
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                        <button class="uk-modal-close-outside" type="button" uk-close></button>
                        <h3 class="uk-modal-title uk-text-lead uk-text-center uk-text-bold uk-text-uppercase st-color-black">Resize your avatar</h3>
                        <p class="uk-flex uk-flex-center uk-flex-column">
                        <ul class="uk-list uk-text-small">
                            <li><span class="uk-icon st-color-blue" uk-icon="icon: move"></span> Allowed format: <strong>squared selection</strong></li>
                            <li><span class="uk-icon st-color-blue" uk-icon="icon: image"></span> Exported dimensions: <strong>width: 80px</strong> X <strong>height: 80px</strong></li>
                        </ul>
                        </p>
                        <div id="st-cropper-container" class="uk-flex uk-flex-center uk-border-rounded uk-margin-auto st-cropper-container st-box-shadow-full-small">
                            <div id="st-cropper-container-content" class="uk-responsive uk-margin-top uk-margin-right uk-margin-bottom uk-margin-left st-cropper-container-content">
                                <img id="st-cropper-preview" class="uk-responsive st-cropper-preview" src="" alt="Crop preview">
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-center uk-margin-top">
                            <button id="st-crop-button" class="uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium uk-text-bold st-crop-button" title="Validate">
                                Crop <span uk-icon="icon: chevron-right; ratio: 1.3"></span>
                            </button>
                        </div>
                        <p class="uk-margin-small-top"><small>Validate crop by clicking on button or closing window.</small></p>
                    </div>
                </div>
                <div id="st-crop-data">
                    {# Hidden field used to store crop data after crop action #}
                    {{ form_row(updateProfileAvatarForm.cropJSONData, {
                        'attr': {'class': 'st-crop-data'},
                        'value': ''})
                    }}
                </div>
                <div id="st-remove-avatar-container" {{ userAvatarImage is not null ? '' : 'class="uk-hidden" ' }}data-remove-text-info="Please confirm current avatar removal by updating profile!">
                    {# Hidden field used to remove avatar with JavaScript combined to ".st-file-remove-button" button #}
                    {{ form_row(updateProfileAvatarForm.removeAvatar, {
                        'attr': {'class': 'st-remove-avatar'},
                        'value': 0})
                    }}
                    {# Avatar remove button #}
                    <button id="st-file-remove-button" class="uk-button uk-button-default uk-margin-small-top {{ userAvatarImage is not null ? '' : 'uk-hidden ' }}st-file-remove-button" type="button" tabindex="-1">
                        <span class="uk-icon" uk-icon="icon: trash"></span>
                        <span class="uk-padding-small">Remove</span>
                    </button>
                </div>
            </div>
        </div>
        {# Avatar text info #}
        <p id="st-avatar-text-info" class="uk-margin-small-top uk-hidden st-avatar-text-info">
            <small class="uk-text-bold st-color-yellow">
                <span class="uk-icon" uk-icon="icon: info"></span>
                <span class="st-avatar-text-info-content"><!-- Text info injected here --></span>
            </small>
        </p>
    </div>
    {# CSRF token #}
    {{ form_row(updateProfileAvatarForm.token, {'value': csrf_token('update_profile_avatar_token')}) }}
    <div class="uk-width-1-1 uk-flex uk-flex-center">
        <button type="submit" id="st-avatar-submit-button" class="uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium uk-text-bold" title="Validate">
            <span class="st-profile-spinner st-color-yellow uk-hidden" uk-spinner="ratio: 0.8"></span>
            Update avatar <span uk-icon="icon: chevron-right; ratio: 1.3"></span>
        </button>
    </div>
{{ form_end(updateProfileAvatarForm) }}
<p class="uk-margin-small-top">
    <small>
        For technical and security reasons, image with "svg" file type is not accepted yet.
    </small>
</p>
