{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Complete list of tricks{% endblock %}

{% block header %}
    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true; animation: scale; min-height: 200; max-height: 450">
        <ul class="uk-slideshow-items st-home-slideshow">
            <li>
                <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken st-background-image-header" data-src="{{ asset('assets/images/snowboard-4.jpg') }}" style="background-position: 40% 10%; height: 450px" uk-img>
                    <div class="uk-position-center uk-text-center uk-padding-small">
                        <p class="uk-text-large st-text-shadow-dark" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Contribute to snowboard<br>tricks learning
                        </p>
                        <p class="uuk-text-medium uk-visible@m st-text-shadow-dark" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Before you start learning tricks, even easy snowboard tricks, you should have mastered some of the basics. <br class="uk-visible@l">
                            You especially need to be confident riding both ways (riding switch) down the mountain before getting into any tricks.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken st-background-image-header" data-src="{{ asset('assets/images/snowboard-2.jpg') }}" style="background-position: 10% 50%; height: 450px" uk-img>
                    <div class="uk-position-center uk-text-center uk-padding-small">
                        <p class="uk-text-large st-text-shadow-dark" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Choose the right conditions to practice
                        </p>
                        <p class="uk-text-medium uk-visible@m st-text-shadow-dark" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            The best time to learn tricks is when you’ve had a good recent dump of snow – so that the landing is going to be fairly soft. <br class="uk-visible@l">
                            This isn’t always possible so if this isn’t the case then you just need to be prepared to take a few hard knocks.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken st-background-image-header" data-src="{{ asset('assets/images/snowboard-1.jpg') }}" style="background-position: 40% 30%; height: 450px" uk-img>
                    <div class="uk-position-center uk-text-center uk-padding-small">
                        <p class="uk-text-large st-text-shadow-dark" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Don't forget technique and confidence to avoid injury
                        </p>
                        <p class="uk-text-medium uk-visible@m st-text-shadow-dark" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Remember that there is always a risk of injury in snowboarding and this is especially so when you are learning new things like tricks. <br class="uk-visible@l">
                            You need to push yourself a little bit to expand your skill set but don’t push yourself to try unrealistic things.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken st-background-image-header" data-src="{{ asset('assets/images/snowboard-5.jpg') }}" style="background-position: 40% 10%; height: 450px" uk-img>
                    <div class="uk-position-center uk-text-center uk-padding-small">
                        <p class="uk-text-large st-text-shadow-dark" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Follow the best way to progress
                        </p>
                        <p class="uk-text-medium uk-visible@m st-text-shadow-dark" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Finding the best way to learn is to focus on and master one trick before moving on to the next. <br class="uk-visible@l">
                            It will be a good foundation for learning bigger better tricks later
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        <!-- Direct access to trick list -->
        <div class="uk-position-bottom-right"><a class="uk-button uk-button-primary" href="#st-trick-list" uk-scroll><span uk-icon="icon: arrow-down; ratio: 2"></span>&nbsp;Let's go!</a></div>
    </div>
{% endblock %}
{% block content %}
    <div class="uk-heading-line uk-text-large uk-text-center uk-margin-top">
        <span uk-icon="icon: bolt; ratio: 2"></span>
    </div>
    <div id="st-trick-list" class="uk-section uk-preserve-color">
        <div class="uk-container">
            <h1 class="uk-heading-bullet uk-text-large uk-text-bold uk-text-uppercase uk-text-center">
                Trick list
            </h1>
            <p class="uk-text-center uk-text-uppercase st-home-intro">
                these resources can help you to decide which tricks to start learning.<br>
                So make sure you really master them, and with proper technique, before moving onto anything more complex!
            </p>
        </div>
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-child-width-1-5@xl uk-grid-match uk-padding" uk-grid>
            {% for trick in tricks %}
            <div>
                <div class="uk-card uk-card-primary uk-box-shadow-medium uk-box-shadow-hover-large">
                    <div class="uk-card-media-top">
                        <img src="{{ asset('assets/images/snowboard-1.jpg') }}" alt="{{ trick.title }}">
                    </div>
                    <div class="uk-card-badge uk-label">Trick group: {{ trick.trickGroup }}</div>
                    <div class="uk-card-body">
                        <h2 class="uk-card-title">{{ trick.title }}</h2>
                    </div>
                    <div class="uk-card-footer">
                        <div class="uk-flex uk-flex-between">
                            <div class="uk-text-left">
                                <a href="#" class="uk-link-text"title="Read more">Read more</a>
                            </div>
                            <div class="uk-text-right">
                                <a href="#" class="uk-button uk-button-primary uk-button-small uk-border-rounded" title="Update">
                                    <span uk-icon="pencil"></span>
                                </a>
                                <a href="#" class="uk-button uk-button-primary uk-button-small uk-border-rounded" title="Delete">
                                    <span uk-icon="trash"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Load more -->
        <div class="uk-flex uk-flex-center">
            <button id="st-home-load-more" class="uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium">
                <div class="uk-hidden" uk-spinner="ratio: 0.5"></div>
                <span uk-icon="plus-circle"></span>
                &nbsp;Load More
            </button>
        </div>
    </div>
{% endblock %}
