{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Trick list{% endblock %}

{% block header %}
    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="autoplay: true; animation: scale; min-height: 250; max-height: 600">
        <ul class="uk-slideshow-items st-home-slideshow">
            <li>
                <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken st-background-image-header" data-src="{{ asset('assets/images/snowboard-4.jpg') }}" style="background-position: 40% 10%; height: 600px" uk-img>
                    <div class="uk-position-center uk-text-center uk-padding-small">
                        <p class="st-color-white st-text-shadow-dark uk-text-large" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Contribute to snowboard tricks learning.
                        </p>
                        <p class="st-color-white st-text-shadow-dark uk-text-medium uk-visible@m" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Before you start learning tricks, even easy snowboard tricks, you should have mastered some of the basics. <br class="uk-visible@l">
                            You especially need to be confident riding both ways (riding switch) down the mountain before getting into any tricks.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken st-background-image-header" data-src="{{ asset('assets/images/snowboard-2.jpg') }}" style="background-position: 10% 50%; height: 600px" uk-img>
                    <div class="uk-position-center uk-text-center uk-padding-small">
                        <p class="st-color-white st-text-shadow-dark uk-text-large" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Choose the right conditions to practice
                        </p>
                        <p class="st-color-white st-text-shadow-dark uk-text-medium uk-visible@m" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            The best time to learn tricks is when you’ve had a good recent dump of snow – so that the landing is going to be fairly soft. <br class="uk-visible@l">
                            This isn’t always possible so if this isn’t the case then you just need to be prepared to take a few hard knocks.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken st-background-image-header" data-src="{{ asset('assets/images/snowboard-1.jpg') }}" style="background-position: 40% 30%; height: 600px" uk-img>
                    <div class="uk-position-center uk-text-center uk-padding-small">
                        <p class="st-color-white st-text-shadow-dark uk-text-large" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Don't forget technique and confidence to avoid injury.
                        </p>
                        <p class="st-color-white st-text-shadow-dark uk-text-medium uk-visible@m" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Remember that there is always a risk of injury in snowboarding and this is especially so when you are learning new things like tricks. <br class="uk-visible@l">
                            You need to push yourself a little bit to expand your skill set but don’t push yourself to try unrealistic things.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken st-background-image-header" data-src="{{ asset('assets/images/snowboard-5.jpg') }}" style="background-position: 40% 10%; height: 600px" uk-img>
                    <div class="uk-position-center uk-text-center uk-padding-small">
                        <p class="st-color-white st-text-shadow-dark uk-text-large" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Follow the best way to progress
                        </p>
                        <p class="st-color-white st-text-shadow-dark uk-text-medium uk-visible@m" uk-slideshow-parallax="x: 100,0,0; opacity: 1,1,0;">
                            Finding the best way to learn is to focus on and master one trick before moving on to the next. <br class="uk-visible@l">
                            It will be a good foundation for learning bigger better tricks later
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        <!-- Direct access to trick list -->
        <div class="uk-position-bottom-right"><a id="st-home-list-anchor" class="uk-button uk-button-primary" href="#st-trick-list" uk-scroll><span uk-icon="icon: arrow-down; ratio: 2"></span>&nbsp;Let's go!</a></div>
    </div>
{% endblock %}
{% block content %}
    <div class="uk-heading-line uk-text-large uk-text-center uk-margin-top">
        <span uk-icon="icon: bolt; ratio: 2"></span>
    </div>
    <div id="st-trick-list" class="uk-section uk-preserve-color">
        <div class="uk-container">
            <h1 class="uk-heading-bullet uk-text-large uk-text-bold uk-text-uppercase uk-text-center">
                Trick list - {{ 'DESC' == trickLoadingMode ? 'Latest' : 'Oldest' }} tricks on top<br><span class="uk-text-small">(Sorted by date with {{ 'DESC' == trickLoadingMode ? 'Descending' : 'Ascending' }} order)</span>
            </h1>
            <p class="uk-text-center uk-text-uppercase st-home-intro">
                These resources can help you to decide which tricks to start learning.<br>
                So make sure you really master them, and with proper technique, before moving onto anything more complex!
            </p>
        </div>
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-child-width-1-5@xl uk-grid-match uk-padding"
             uk-grid data-loading-mode="{{ trickLoadingMode|e('html_attr') }}" data-locale="{{ locale|e('html_attr') }}"
             data-count="{{ trickCount|e('html_attr') }}" data-limit="{{ trickNumberPerLoading|e('html_attr') }}">
        {# This block also used for ajax loading! #}
        {% block trick_cards %}
            {% for trick in tricks %}
            <div class="st-card-container" data-offset="{{ trick.rank|e('html_attr') }}"{% if (loop.index == 1) and (listError is defined) and (listError is not null) %} data-error="{{ listError|e('html_attr') }}"{% endif %}>
                <div class="uk-card uk-card-primary uk-box-shadow-medium uk-box-shadow-hover-large{{ ajaxMode is defined ? ' uk-animation-slide-left-small' }}">
                    <div class="uk-card-badge uk-label uk-text-center"><span class="st-color-red">In</span> {{ trick.trickGroup.name }}<br><span class="st-color-red">Trick #</span> {{ 'DESC' == trickLoadingMode ? trickCount - (- trick.rank - 1 + trickCount) : trickCount + (trick.rank + 1 - trickCount) }}{#  <span class="st-color-red">Rank</span> {{ trick.rank }}#} <span class="st-color-red">Added on</span> {{ trick.creationDate|date('d/m/Y') }}</div>
                    <div class="uk-card-media-top">
                        <img src="{{ asset('assets/images/uploads/'~trick.medias[0].image.name|e('html_attr')~'.'~trick.medias[0].image.format|e('html_attr')) }}" alt="{{ trick.medias[0].image.description|e('html_attr') }}">
                    </div>
                    <div class="uk-card-body">
                        <h2 class="uk-card-title">{{ trick.name }}</h2>
                    </div>
                    <div class="uk-card-footer">
                        <div class="uk-flex{{ is_granted('IS_AUTHENTICATED_FULLY') ? ' uk-flex-between' : ' uk-flex-right' }}">
                            <div class="{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'uk-text-left' : 'uk-text-right' }}">
                                <a href="{#{{ path('single_trick', { 'slug': trick.slug, 'encodedUuid': trick.uuid|encodedUuid }) }}#}#" class="uk-link-text" title="Read more">
                                    Read more&nbsp;<span uk-icon="icon: arrow-right; ratio: 2" class="uk-icon"></span>
                                </a>
                            </div>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="uk-text-right">
                                <a href="{#{{ path('update_trick', { 'encodedUuid': trick.uuid|encodedUuid }) }}#}#" class="uk-button uk-button-primary uk-button-small uk-border-rounded" title="Update">
                                    <span uk-icon="pencil"></span>
                                </a>
                                <a href="{#{{ path('delete_trick', { 'encodedUuid': trick.uuid|encodedUuid }) }}#}#" class="uk-button uk-button-primary uk-button-small uk-border-rounded" title="Delete">
                                    <span uk-icon="trash"></span>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endblock trick_cards %}
        </div>
        <!-- Load more -->
        <div class="uk-flex uk-flex-center">
            <button id="st-home-load-more" class="uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium uk-hidden">
                <span class="st-home-spinner st-color-yellow uk-hidden" uk-spinner="ratio: 0.8"></span>
                &nbsp;Load more&nbsp;
                <span uk-icon="plus-circle"></span>
            </button>
        </div>
    </div>
{% endblock %}
