<div class="uk-card uk-card-primary uk-box-shadow-small uk-box-shadow-hover-medium st-border-white-small">
    <div class="uk-card-badge uk-label uk-text-center">
        <span class="uk-text-uppercase uk-text-bold">
            <span class="st-color-red">{{ custom.icon matches '/^image/' ? 'Image' : 'Video' }}</span><br>
            <span class="st-color-red">Added on</span>&nbsp;{{ media.image is not null ? media.image.creationDate|date('d/m/Y') : media.video.creationDate|date('d/m/Y') }}
        </span>
    </div>
    <div class="uk-card-body uk-position-relative uk-padding-remove st-background-black">
        {# Video or image card loading spinner #}
        {% include 'all/trick-media-loader.html.twig' with {'spinnerRatio': '1.5'} %}
        {# filter media type to output content with necessary html tag #}
        {% if media.mediaType.type == mediaTypesValues['trickThumbnail'] %}
            <!-- Trick image -->
            {# Thumb image #}
            <div id="st-card-image-{{ index }}" class="uk-position-relative uk-background-cover uk-background-blend-darken uk-invisible st-card-image st-background-image-header" data-src="{{ asset(globalImageDirectory~'/uploads/'~mediaForSlide|e('html_attr')) }}" style="background-position: 50% 50%; width: 100%; height: 150px" uk-img></div>
            {# Modal for image #}
            <div id="st-modal-media-image-{{ index }}" class="uk-flex-top st-modal" uk-modal>
                <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical uk-padding-small">
                    <div class="st-background-black">
                        <button class="uk-modal-close-outside" type="button" uk-close></button>
                        {# Image loading spinner #}
                        {% include 'all/trick-media-loader.html.twig' with {'spinnerRatio': '2'} %}
                        <img id="st-modal-image-{{ index }}" class="st-modal-image" width="{{ normalImageMediaType.width }}" height="{{ normalImageMediaType.height }}" src="" data-src="{{ asset(globalImageDirectory~'/uploads/'~mediaToExpand|e('html_attr')) }}" alt="{{ media.image.description|e('html_attr') }}">
                    </div>
                </div>
            </div>
        {% elseif media.mediaType.type == mediaTypesValues['trickYoutube'] %}
            <!-- Trick Youtube video -->
            {# Iframe for video #}
            <iframe id="st-card-iframe-{{ index }}" class="uk-invisible st-card-iframe st-yt-iframe" width="100%" height="100%" src="{{ mediaForSlide|e('html_attr') }}?enablejsapi=1&amp;origin={{ app.request.getSchemeAndHttpHost() }}" frameborder="0" allowfullscreen allow="autoplay; encrypted-media" uk-responsive></iframe>
            {# Modal for video #}
            <div id="st-modal-media-video-{{ index }}" class="uk-flex-top st-modal" uk-modal>
                <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical uk-padding-small">
                    <div class="st-background-black">
                        <button class="uk-modal-close-outside" type="button" uk-close></button>
                        {# Video loading spinner #}
                        {% include 'all/trick-media-loader.html.twig' with {'spinnerRatio': '2'} %}
                        <iframe id="st-modal-iframe-{{ index }}" class="uk-invisible st-modal-iframe st-yt-iframe" width="{{ media.mediaType.width }}" height="{{ media.mediaType.height }}" data-src="{{ mediaToExpand|e('html_attr') }}?enablejsapi=1&amp;origin={{ app.request.getSchemeAndHttpHost() }}&amp;autoplay=0" frameborder="0" allowfullscreen allow="autoplay; encrypted-media" uk-responsive></iframe>
                    </div>
                </div>
            </div>
        {% elseif media.mediaType.type == mediaTypesValues['trickVimeo'] %}
            <!-- Trick Vimeo video -->
            {# Iframe for video #}
            <iframe id="st-card-iframe-{{ index }}" class="uk-invisible st-card-iframe st-vm-iframe" width="100%" height="100%" src="{{ mediaForSlide|e('html_attr') }}?api=1&amp;origin={{ app.request.getSchemeAndHttpHost() }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay" uk-responsive></iframe>
            {# Modal for video #}
            <div id="st-modal-media-video-{{ index }}" class="uk-flex-top st-modal" uk-modal>
                <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical uk-padding-small">
                    <div class="st-background-black">
                        <button class="uk-modal-close-outside" type="button" uk-close></button>
                        {# Video loading spinner #}
                        {% include 'all/trick-media-loader.html.twig' with {'spinnerRatio': '2'} %}
                        <iframe id="st-modal-iframe-{{ index }}" class="uk-invisible st-modal-iframe st-vm-iframe" width="{{ media.mediaType.width }}" height="{{ media.mediaType.height }}" data-src="{{ mediaToExpand|e('html_attr') }}?api=1&amp;origin={{ app.request.getSchemeAndHttpHost() }}&amp;autoplay=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay" uk-responsive></iframe>
                    </div>
                </div>
            </div>
        {% elseif media.mediaType.type == mediaTypesValues['trickDailymotion'] %}
            <!-- Trick Dailymotion video -->
            {# Iframe for video #}
            <iframe id="st-card-iframe-{{ index }}" class="uk-invisible st-card-iframe st-dm-iframe" width="100%" height="100%" src="{{ mediaForSlide|e('html_attr') }}?api=1&amp;origin={{ app.request.getSchemeAndHttpHost() }}" frameborder="0" allowfullscreen allow="autoplay" uk-responsive></iframe>
            {# Modal for video #}
            <div id="st-modal-media-video-{{ index }}" class="st-modal uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-width-auto uk-padding-small uk-margin-auto-vertical">
                    <div class="st-background-black">
                        <button class="uk-modal-close-outside" type="button" uk-close></button>
                        {# Video loading spinner #}
                        {% include 'all/trick-media-loader.html.twig' with {'spinnerRatio': '2'} %}
                        <iframe id="st-modal-iframe-{{ index }}" class="uk-invisible st-modal-iframe st-dm-iframe" width="{{ media.mediaType.width }}" height="{{ media.mediaType.height }}" data-src="{{ mediaToExpand|e('html_attr') }}?api=1&amp;origin={{ app.request.getSchemeAndHttpHost() }}&amp;autoplay=0" frameborder="0" allowfullscreen allow="autoplay" uk-responsive></iframe>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="uk-card-footer uk-padding-small st-background-blue">
        <div class="uk-flex{{ is_granted('IS_AUTHENTICATED_FULLY') ? ' uk-flex-between' : ' uk-flex-right' }}">
            <div class="uk-position-relative {{ is_granted('IS_AUTHENTICATED_FULLY') ? 'uk-text-left' : 'uk-text-right' }}">
                <span class="uk-position-center st-modal-button-spinner">
                    <span class="st-single-button-spinner" uk-spinner="ratio: 0.4"></span>
                    <small>&nbsp;Loading</small>
                </span>
                <a id="st-modal-button-{{ index }}" href="#st-modal-media-{{ custom.icon matches '/^image/' ? 'image' : 'video' }}-{{ index }}" class="uk-button uk-box-shadow-medium uk-box-shadow-hover-large uk-padding-remove uk-invisible uk-disabled" title="{{ custom.title|e('html_attr') }}" uk-toggle>
                    <span uk-icon="icon: expand; ratio: 1" class="uk-icon st-color-white st-background-black st-svg-icon-button st-svg-icon-other"><span uk-icon="icon: {{ custom.icon|e('html_attr') }}; ratio: 1" class="uk-icon"></span>&nbsp;</span>&nbsp;
                </a>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="uk-text-right">
                    <a href="{#{{ path('update_media', { 'encodedUuid': media.uuid|uuid_encode }) }}#}#" class="uk-button uk-box-shadow-medium uk-box-shadow-hover-large uk-padding-remove" title="Update">
                        <span uk-icon="icon: pencil; ratio: 1" class="uk-icon st-color-white st-background-black st-svg-icon-button st-svg-icon-update"></span>
                    </a>
                    <a href="{#{{ path('delete_media', { 'encodedUuid': media.uuid|uuid_encode }) }}#}#" class="uk-button uk-box-shadow-medium uk-box-shadow-hover-large uk-padding-remove" title="Delete">
                        <span uk-icon="icon: trash; ratio: 1" class="uk-icon st-color-white st-background-black st-svg-icon-button st-svg-icon-delete"></span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

