{% extends 'base.html.twig' %}

{% block title %}SnowTricks - {{ trick.name }} Trick detail{% endblock %}

{# Initialize needed variables #}
{% set mainImage = asset(globalImageDirectory~'trick-default-image-1600x900.png') %}
{% set mainImageUuid = null %}
{% set isMainAvailable = 0 %}
{% set mainImageDesc = 'No description is available.' %}
{% set mediaToExpandDimensions = '' %}
{# Loop on trick medias using variables to get main image only ! #}
{% set break = false %}
{% for media in trick.mediaOwner.medias if not break %}
    {# Media must be published to be shown. #}
    {% if media.isPublished == 1 %}
        {# Extract main image to show #}
        {% if media.isMain == 1 and media.mediaType.type == mediaTypesValues['trickBig'] %}
            {% set mainImageUuid = media.mediaSource.image.uuid %}
            {% set mainImage = asset(globalTrickUploadDirectory~media.mediasource.image.name~'.'~media.mediasource.image.format) %}
            {% set isMainAvailable = 1 %}
            {% set mainImageDesc = media.mediasource.image.description %}
            {% set break = true %}
        {% endif %}
    {% endif %}
{% endfor %}

{% block header %}
    {% include 'all/image_header_loader.html.twig' with {'spinnerRatio': '2.5'} %}
    <div id="st-trick-main-image" class="uk-position-relative uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken uk-invisible st-background-image-header"
         data-src="{{ mainImage }}" data-default-img="{{ asset(globalImageDirectory~'trick-default-image-1600x900.png') }}" style="background-position: 50% 50%; height: 600px" uk-img>
        <div id="st-trick-main-image-box" class="uk-padding">
            <div class="uk-position-center" style="width: 100%; height: 100%">
                {# Trick main image update or delete actions #}
                {% if (isMainAvailable is defined) and (isMainAvailable == 1) and (mainImageUuid is not null) and is_granted('AUTHOR_OR_ADMIN_CAN_UPDATE_OR_DELETE_TRICKS', trick) %}
                    <div id="st-single-trick-update-delete-main-image"
                         class="uk-position-top-right uk-text-right uk-box-shadow-small uk-box-shadow-hover-medium st-background-blue st-border-white-small">
                        <div class="uk-padding-small">
                            {# Update main image dynamically with custom anchor automatic scroll on trick update form page #}
                            <a href="{{ path('update_trick', { 'mainRoleLabel': app.user.mainRoleLabel|lower, 'slug': trick.slug, 'encodedUuid': trick.uuid|uuid_encode }) }}/#image-{{ mainImageUuid|uuid_encode }}"
                               class="uk-button uk-box-shadow-medium uk-box-shadow-hover-large uk-padding-remove" title="Update">
                                <span uk-icon="icon: pencil; ratio: 1" class="uk-icon st-color-white st-background-black st-svg-icon-button st-svg-icon-update st-svg-icon-actions"></span>
                            </a>
                            {# Delete main image from trick header #}
                            <a id="st-delete-image"  href="#st-modal-delete-image"
                               data-action="{{ path('delete_media', { 'mainRoleLabel': app.user.mainRoleLabel|lower, 'mediaType': 'image', 'encodedUuid': mainImageUuid|uuid_encode, 'csrfToken': csrf_token('delete_image') }) }}"
                               class="uk-button uk-box-shadow-medium uk-box-shadow-hover-large uk-padding-remove st-delete-image" title="Delete" uk-toggle>
                                <span uk-icon="icon: trash; ratio: 1" class="uk-icon st-color-white st-background-black st-svg-icon-button st-svg-icon-delete st-svg-icon-actions"></span>
                            </a>
                        </div>
                        {# Main image indicator #}
                        <div id="st-main-image-header-indicator" class="uk-text-center uk-text-small uk-text-uppercase uk-text-bold st-background-yellow st-main-image-indicator">
                            <span class="st-color-blue st-svg-icon-padding">Main image</span>
                        </div>
                    </div>
                {% endif %}
                {# Trick header texts #}
                <div class="uk-position-center uk-text-center">
                    {# Trick name and group name #}
                    <p class="st-color-white st-text-shadow-dark uk-text-large">
                        {{ trick.name }}
                    </p>
                    <p class="uk-text-medium uk-visible@m st-color-white st-text-shadow-dark">
                        Snowboard trick referenced in {{ trick.trickGroup.name }}
                    </p>
                    {# Unpublished trick infos #}
                    {% if trick.isPublished == 0 %}
                    {# Unpublished trick indicator #}
                    <p class="uk-padding-small uk-text-small uk-text-bold uk-text-uppercase st-background-red st-color-white">
                        <span uk-icon="icon: warning; ratio: 1.5"></span> This trick is unpublished! <br class="uk-hidden@m">It is Waiting for moderation.
                    </p>
                    {% endif %}
                    {# This can be a technical issue or a main image deletion! Normally one image is saved as main on creation! #}
                    {% set hiddenCssClass = isMainAvailable == 0 and is_granted('AUTHOR_OR_ADMIN_CAN_UPDATE_OR_DELETE_TRICKS', trick) ? '' : 'uk-hidden ' %}
                    <p id="st-main-image-unavailable-info"
                       class="{{ hiddenCssClass }}uk-padding-small uk-text-small uk-text-bold uk-text-uppercase st-background-red st-color-white">
                        <span uk-icon="icon: warning; ratio: 1.5"></span> Main image for this trick is unavailable!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="uk-heading-line uk-text-large uk-text-center uk-margin-top">
        <span uk-icon="icon: nut; ratio: 2"></span>
    </div>
    <div id="st-single-trick" class="uk-section uk-preserve-color">
        <div class="uk-container uk-margin-medium-bottom">
            <h1 class="uk-heading-bullet uk-text-large uk-text-center uk-text-uppercase uk-text-bold">
                Look at images and videos about <span class="st-color-blue">{{ trick.name }}</span> trick.
            </h1>
            <p class="uk-text-center uk-text-uppercase uk-text-bold st-color-red">
                For more fun, a member have access to trick management to enhance content!<br>
                So, everyone can share his passion and skills...
            </p>
        </div>
        <!-- Button to show/hide trick medias -->
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom uk-hidden@s">
            <button id="st-single-toggle-media" class="uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium uk-disabled" data-opened-text="Show trick medias" data-closed-text="Hide trick medias">
                <span class="single-toggle-media-spinner st-color-yellow" uk-spinner="ratio: 0.8"></span>
                <span class="st-button-text">Show trick medias</span>&nbsp;&nbsp;<span class="uk-icon" uk-icon="plus-circle"></span>
            </button>
        </div>
        <!-- Trick medias slider (invisible by default on mobile: look at button above!) -->
        <div id="st-single-slider-container" class="uk-visible@s uk-position-relative uk-margin-medium-bottom st-single-slider-container" uk-slider="autoplay: true; autoplay-interval: 6000; pause-on-hover: true">
            {# Create a slider only if it is necessary #}
            {% if trick.mediaOwner.medias|length != 0 %}
            <div id="st-single-slider" class="uk-slider-container uk-position-relative st-card-container" data-current-path="{{ path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) }}" data-video-proxy="{{ videoURLProxyPath }}" data-media-error="{{ mediaError }}">
                {# ---------------------------------------------------------------------------- #}
                {# Create slider items grid dynamic centering based on a maximum of 5 items #}
                {% set mediaQueryLabels = ['@s', '@m', '@l', '@xl'] %}
                {% set itemCounter = 0 %}
                {% set sliderDynamicCenterClass = '' %}
                {% for media in trick.mediaOwner.medias %}
                    {% if (media.mediaType.type == mediaTypesValues['trickThumbnail']) or
                          (media.mediaType.type matches '/'~mediaTypesValues['trickYoutube']~'|'~mediaTypesValues['trickVimeo']~'|'~mediaTypesValues['trickDailymotion']~'/') %}
                        {% set itemCounter = itemCounter + 1 %}
                    {% endif %}
                {% endfor %}
                {# Slide length number is between 1 and 5 included! #}
                {% if itemCounter < 6 %}
                    {# Adjust media query label index not to be out of range #}
                    {% set mediaQueryIndex = itemCounter >= 4 ? 4 : itemCounter %}
                    {% set sliderDynamicCenterClass = 'uk-flex-center'~mediaQueryLabels[mediaQueryIndex - 1]~' ' %}
                {# If slide length number is greater than 5, do nothing! #}
                {% endif %}
                {# ---------------------------------------------------------------------------- #}
                <ul id="st-single-trick-slider" class="{{ sliderDynamicCenterClass }}uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-child-width-1-5@xl uk-grid uk-grid-small">
                {# ---------------------------------------------------------------------------- #}
                {# Loop on trick medias to feed the slider #}
                {% for media in trick.mediaOwner.medias %}
                    {# ---------------------------------------------------------------------------- #}
                    {# List trick medias thumbnail images #}
                    {% if media.mediaType.type == mediaTypesValues['trickThumbnail'] %}
                    {# ---------------------------------------------------------------------------- #}
                    {# Get big image uuid which corresponds! #}
                    {% set break = false %}
                    {% set bigImageUuid = null %}
                    {% for mediaToCompare in trick.mediaOwner.medias if not break %}
                        {# Compare images names #}
                        {% if mediaToCompare.mediaType.type == mediaTypesValues['trickBig'] %}
                        {% set mediaIdentifierName = preg_replace('/\\d{2,}x\\d{2,}/', '', media.mediasource.image.name) %}
                        {% set mediaToCompareIdentifierName = preg_replace('/\\d{2,}x\\d{2,}/', '', mediaToCompare.mediasource.image.name) %}

                            {% if mediaIdentifierName == mediaToCompareIdentifierName %}

                                {# Get big image uuid in order to use it to create image box update link anchor (hash) for update form  #}
                                {% set bigImageUuid = mediaToCompare.mediaSource.image.uuid %}
                                {% set break = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {# ---------------------------------------------------------------------------- #}
                    {# Image to show in slide #}
                    {% set mediaForSlide = media.mediasource.image.name~'.'~media.mediasource.image.format %}
                    {% set mediaToExpandDimensions = normalImageMediaType.width~'x'~normalImageMediaType.height %}
                    {# Image to show in modal: switch to normal image dimensions #}
                    {% set mediaToExpand = preg_replace('/\\d{2,}x\\d{2,}/', mediaToExpandDimensions, mediaForSlide) %}
                    {% set showListRank = media.showListRank %}
                    <li id="st-single-trick-image-slide-{{ showListRank }}">
                        {# html attribute escaping is used inside when necessary! #}
                        {% include 'single-trick/media_card.html.twig' with {
                            'trick': trick,
                            'mediaTypesValues': mediaTypesValues,
                            'mediaType': media.mediaType,
                            'mediaUuid': bigImageUuid,
                            'mediaCreationDate': media.mediasource.image.creationDate,
                            'mediaDescription': media.mediasource.image.description,
                            'mediaRank': media.showListRank,
                            'mediaForSlide': mediaForSlide,
                            'mediaToExpand': mediaToExpand,
                            'normalImageMediaType': normalImageMediaType,
                            'mediaIsMain': media.isMain,
                            'custom': {'icon': 'image', 'title': 'Look at this image with expanded mode.'},
                            'index': loop.index
                        } only %}
                    </li>
                    {% endif %}
                    {# ---------------------------------------------------------------------------- #}
                    {# List trick medias videos #}
                    {% if media.mediaType.type matches '/'~mediaTypesValues['trickYoutube']~'|'~mediaTypesValues['trickVimeo']~'|'~mediaTypesValues['trickDailymotion']~'/' %}
                    {# Video to show both in slide and modal #}
                    {% set mediaForSlide = media.mediaSource.video.url %}
                    {% set showListRank = media.showListRank %}
                    <li id="st-single-trick-video-slide-{{ showListRank }}">
                        {# html attribute escaping is used inside when necessary! #}
                        {% include 'single-trick/media_card.html.twig' with {
                            'trick': trick,
                            'mediaTypesValues': mediaTypesValues,
                            'mediaType': media.mediaType,
                            'mediaTypesValues': mediaTypesValues,
                            'mediaUuid': media.mediaSource.video.uuid,
                            'mediaCreationDate': media.mediaSource.video.creationDate,
                            'mediaDescription': media.mediaSource.video.description,
                            'mediaRank': media.showListRank,
                            'mediaForSlide': mediaForSlide,
                            'mediaToExpand': mediaForSlide,
                            'custom': {'icon': 'video-camera', 'title': 'Watch this video with expanded mode.'},
                            'index': loop.index
                        } only %}
                    </li>
                    {% endif %}
                    {# ---------------------------------------------------------------------------- #}
                {% endfor %}
                </ul>
            </div>
            <a class="uk-position-center-left uk-slidenav-large" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-slidenav-large" href="#" uk-slidenav-next uk-slider-item="next"></a>
            <!-- Trick update medias deletion links -->
            {% if is_granted('AUTHOR_OR_ADMIN_CAN_UPDATE_OR_DELETE_TRICKS', trick) %}
                {# ------------------------------------------------------------------------- #}
                {# Get image removal ajax form in modal #}
                {% include 'admin/removal/delete_media.html.twig' with {
                    mediaType: 'image'
                } only %}
                {# ------------------------------------------------------------------------- #}
                {# Get video removal ajax form in modal #}
                {% include 'admin/removal/delete_media.html.twig' with {
                    mediaType: 'video'
                } only %}
            {% endif %}
            {% endif %}
        </div>
        <!-- End trick medias slider -->
        <div class="uk-container uk-section uk-section-muted uk-padding-remove">
            <p class="uk-padding-small uk-margin-remove uk-margin-bottom">
                <span class="uk-display-block uk-text-center" uk-margin>
                    <!-- Description -->
                    <span class="uk-label uk-border-circle uk-padding-small uk-text-small uk-text-bold st-background-yellow st-color-blue">Trick description</span>
                    <span class="uk-display-block uk-padding-small uk-text-left">{{ trick.description|nl2br }}</span>
                    <!-- Secondary information -->
                    <span class="uk-badge uk-padding-small uk-text-bold"><em class="st-color-yellow">In</em>&nbsp;{{ trick.trickGroup.name }}&nbsp;<em class="st-color-yellow">group</em></span>
                    <span class="uk-badge uk-padding-small uk-text-bold"><em class="st-color-yellow">Created on</em>&nbsp;{{ trick.creationDate|date('d/m/Y') }}</span>
                    {% if trick.creationDate|date('d/m/Y') != trick.updateDate|date('d/m/Y') %}
                    <span class="uk-badge uk-padding-small uk-text-bold"><em class="st-color-yellow">Update on</em>&nbsp;{{ trick.updateDate|date('d/m/Y') }}</em></span>
                    {% endif %}
                </span>
            </p>
        </div>
        <!-- Trick update and deletion links -->
        {% if is_granted('AUTHOR_OR_ADMIN_CAN_UPDATE_OR_DELETE_TRICKS', trick) %}
            <div class="uk-flex uk-flex-center uk-margin-medium-top">
                <p class="uk-text-center uk-text-uppercase uk-text-bold st-color-red">
                    {# Update trick #}
                    <a id="st-update-trick" class="uk-display-inline-block uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium"
                       href="{{ path('update_trick', { 'mainRoleLabel': app.user.mainRoleLabel|lower, 'slug': trick.slug, 'encodedUuid': trick.uuid|uuid_encode }) }}" title="Update this trick">
                        Update this trick&nbsp;&nbsp;<span uk-icon="icon: pencil; ratio: 1"></span>
                    </a>
                    {# Delete trick #}
                    <a id="st-delete-trick" data-action="{{ path('delete_trick', { 'mainRoleLabel': app.user.mainRoleLabel|lower, 'encodedUuid': trick.uuid|uuid_encode, 'csrfToken': csrf_token('delete_trick') }) }}"
                       class="uk-display-inline-block uk-button uk-button-secondary uk-border-rounded uk-box-shadow-hover-medium st-svg-icon-delete st-delete-trick"
                       href="#st-modal-delete-trick" title="Delete this trick" uk-toggle>
                        Delete this trick&nbsp;&nbsp;<span uk-icon="icon: trash; ratio: 1"></span>
                    </a>
                    {# ------------------------------------------------------------------------- #}
                    {# Get trick removal ajax action in modal #}
                    {% include 'admin/removal/delete_trick.html.twig' only %}
                </p>
            </div>
        {% endif %}
        <hr class="uk-margin-medium-top uk-margin-medium-bottom">
        <div class="uk-container uk-margin-large-top">
            <h1 class="uk-heading-bullet uk-text-large uk-text-center uk-text-uppercase uk-text-bold">
                Follow comments from members about this trick.
            </h1>
            {% if is_granted('ROLE_USER') %}
            <p class="uk-text-center uk-text-uppercase uk-text-bold st-color-red">
                Use the form below to create a new comment.
            </p>
            {# ------------------------------------------------------------------------- #}
            {# Get trick comment form #}
            {% include 'form/create_comment.html.twig' with {
                'createCommentForm': createCommentForm,
                'trick': trick,
                'trickCommentCreationError': trickCommentCreationError
            } %}
            {# ------------------------------------------------------------------------- #}
            {% else %}
            <p class="uk-text-center uk-text-uppercase uk-text-bold st-color-red">
                You can participate if you have an account. To register, simply fill in the form.<br>
                Then you will able to post comments on your own.
            </p>
            {% endif %}
        </div>
        <!-- Trick comments -->
        {% if trick.comments|length != 0 %}
        {# Comments messages list #}
        <div class="uk-container uk-padding">
            {% include 'single-trick/comment_list.html.twig' with {
                'mediaTypesValues': mediaTypesValues,
                'trick': trick
            } %}
        </div>
        {% else %}
        {# No trick was found! #}
        <div class="uk-container uk-margin-top uk-text-center">
            <p class="uk-display-inline-block uk-padding-small uk-text-bold uk-text-uppercase st-background-yellow st-box-shadow-full-small">
                <span class="st-color-blue"><span uk-icon="icon: warning"></span> {{ noList }}</span>
            </p>
        </div>
        {% endif %}
        <!-- End trick comments -->
    </div>
{% endblock %}
