{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Complete trick list with pagination{% endblock %}

{% block header %}
    {% include 'all/image-header-loader.html.twig' with {'spinnerRatio': '2.5'} %}
    <div class="uk-position-relative uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-background-blend-darken uk-invisible st-background-image-header" data-src="{{ asset(globalImageDirectory~'/snowboard-4.jpg') }}" style="background-position: 40% 25%; height: 600px" uk-img>
        <div class="uk-position-center uk-text-center uk-padding-small st-overlay-image-header-container">
            <p class="st-color-white st-text-shadow-dark uk-text-large">
                Choose your trick, all are immediately available here!
            </p>
            <p class="st-color-white st-text-shadow-dark uk-text-medium uk-visible@m">
                Beginners, intermediate or advanced snowboarders will find their next challenge for sure...
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="uk-heading-line uk-text-large uk-text-center uk-margin-top">
        <span uk-icon="icon: star; ratio: 2"></span>
    </div>
    <div id="st-paginated-trick-list" class="uk-section uk-preserve-color">
        <div class="uk-container">
            <h1 class="uk-heading-bullet uk-text-large uk-text-center uk-text-uppercase uk-text-bold">
                Complete paginated trick list - {{ 'DESC' == trickLoadingMode ? 'Latest' : 'Oldest' }} tricks first<br><span class="uk-text-small">(Sorted by date with {{ 'DESC' == trickLoadingMode ? 'Descending' : 'Ascending' }} order)</span>
            </h1>
            <p class="uk-text-center uk-text-uppercase uk-text-bold st-color-red">
                You can have a look at all tricks thanks to pagination below<br>
                and access particular data more directly!
            </p>
        </div>
        <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-child-width-1-5@xl uk-grid-match uk-padding"
             uk-grid>
            {% for trick in tricks %}
            <div class="st-card-container" data-offset="{{ trick.rank|e('html_attr') }}">
                <div class="uk-card uk-card-primary uk-box-shadow-medium uk-box-shadow-hover-large st-border-white-small">
                    <div class="uk-card-badge uk-label uk-text-center"><span class="st-color-red">In</span> {{ trick.trickGroup.name }}<br><span class="st-color-red">Trick #</span> {{ 'DESC' == trickLoadingMode ? trickCount - (- trick.rank - 1 + trickCount) : trickCount + (trick.rank + 1 - trickCount) }}{#  <span class="st-color-red">Rank</span> {{ trick.rank }}#} <span class="st-color-red">Added on</span> {{ trick.creationDate|date('d/m/Y') }}</div>
                    <div class="uk-card-media-top uk-position-relative st-background-black">
                        {% include 'all/trick-media-loader.html.twig' with {'spinnerRatio': '1.5'} %}
                        <img id="st-card-image-{{ trick.rank|e('html_attr') }}" class="uk-invisible" src="{{ asset(globalImageDirectory~'/uploads/'~trick.medias[0].image.name|e('html_attr')~'.'~trick.medias[0].image.format|e('html_attr')) }}" alt="{{ trick.medias[0].image.description|e('html_attr') }}">
                    </div>
                    <div class="uk-card-body">
                        <h2 class="uk-card-title">{{ trick.name }}</h2>
                    </div>
                    <div class="uk-card-footer">
                        <div class="uk-flex{{ is_granted('IS_AUTHENTICATED_FULLY') ? ' uk-flex-between' : ' uk-flex-right' }}">
                            <div class="{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'uk-text-left' : 'uk-text-right' }}">
                                <a href="{{ path('show_single_trick', { 'slug': trick.slug|e('html_attr'), 'encodedUuid': trick.uuid|uuid_encode }) }}" class="uk-link-text" title="Read more">
                                    Read more<span uk-icon="icon: arrow-right; ratio: 1.3" class="uk-icon"></span>
                                </a>
                            </div>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="uk-text-right">
                                <a href="{#{{ path('update_trick', { 'encodedUuid': trick.uuid|uuid_encode }) }}#}#" class="uk-button uk-box-shadow-medium uk-box-shadow-hover-large uk-padding-remove" title="Update">
                                    <span uk-icon="icon: pencil; ratio: 1" class="uk-icon st-color-white st-background-black st-svg-icon-button st-svg-icon-update"></span>
                                </a>
                                <a href="{#{{{ path('delete_trick', { 'encodedUuid': trick.uuid|uuid_encode }) }}#}#" class="uk-button uk-box-shadow-medium uk-box-shadow-hover-large uk-padding-remove" title="Delete">
                                    <span uk-icon="icon: trash; ratio: 1" class="uk-icon st-color-white st-background-black st-svg-icon-button st-svg-icon-delete"></span>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if pageCount > 1 %}
        <!-- Pagination -->
        {# Page quantity to show around current page is 2 or a calculated minimum value #}
        {% set defaultPageQuantityAround = 2 %}
        {# Mininum value #}
        {% set minimumPageQuantityAround = min(currentPage - 1, pageCount - currentPage) %}
        {# Condition to show the right page numbers before current page: default or minimum value #}
        {% set conditionBefore = currentPage != 1 and minimumPageQuantityAround <= currentPage - 1 %}
        {# Condition to show the right page numbers after current page: default or minimum value #}
        {% set conditionAfter = currentPage != pageCount and minimumPageQuantityAround <= pageCount - currentPage %}
        {# Define page numbers before, other pages will be replaced by "..." #}
        {% set PageQuantityAroundBefore = conditionBefore ? defaultPageQuantityAround : minimumPageQuantityAround %}
        {# Define page numbers after, other pages will be replaced by "..." #}
        {% set PageQuantityAroundAfter = conditionAfter ? defaultPageQuantityAround : minimumPageQuantityAround %}
        <div class="uk-flex uk-flex-center">
            <ul class="uk-pagination uk-text-bold uk-text-uppercase">
            {# Previous link #}
            {% if currentPage - 1 != 0 %}
            <li><a class="st-color-yellow" href="{{ path('list_tricks', { 'page': currentPage - 1 }) }}" title="Previous"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
            {% endif %}
            {% for i in 1..pageCount %}
            {# Current page to show #}
            {% if currentPage == i %}
            <li class="st-color-red">{{ i }}</li>
            {# Show "..." before current page depending on page numbers to show before #}
            {% elseif (i < currentPage and 1 != i) and (i == currentPage - PageQuantityAroundBefore - 1) %}
            <li class="uk-disabled">...</li>
            {# Show "..." after current page depending on page numbers to show after #}
            {% elseif (i > currentPage and pageCount != i) and (i == currentPage + PageQuantityAroundAfter + 1) %}
            <li class="uk-disabled">...</li>
            {# Hide pages under current page and before "..." excepted page 1 #}
            {% elseif (1 != i) and (i < currentPage - PageQuantityAroundBefore - 1) %}
            <li class="uk-hidden"><a href="{{ path('list_tricks', { 'page': i }) }}" title="Page {{ i }}">{{ i }}</a></li>
            {# Hide pages over current page and after "..." excepted page with number "pageCount" (last) #}
            {% elseif (pageCount != i) and (i > currentPage + PageQuantityAroundAfter + 1) %}
            <li class="uk-hidden"><a href="{{ path('list_tricks', { 'page': i }) }}" title="Page {{ i }}">{{ i }}</a></li>
            {# Apply particular style for lowest link corresponding to fisrt page 1, and Highest link corresponding to page total count #}
            {% elseif i == 1 or i == pageCount %}
            <li><a class="st-color-blue" href="{{ path('list_tricks', { 'page': i }) }}" title="Page {{ i }}">{{ i }}</a></li>
            {# Normal links which are not concerned by conditions above #}
            {% else %}
            <li><a href="{{ path('list_tricks', { 'page': i }) }}" title="Page {{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {# Next link #}
            {% if currentPage + 1 <= pageCount %}
            <li class="uk-margin-auto-left"><a class="st-color-yellow" href="{{ path('list_tricks', { 'page': currentPage + 1 }) }}" title="Next">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
            {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}
